$mautim: #87509c //Tím 
$maungoc: #17c2a4 // Cyan
$mauvang: #ffdd99 // Vang 
$maudo: #d74680 // Đỏ 
$mauxanh: #3c5499 // Xanh
$camdat: #EB7D4B // màucam 
// Đây là menu nhé!!
.menu
    background: $mautim
    padding-top: 50px
    display: flex
    justify-content: center
    align-items: center
    ul
        min-width: 500px
        li 
            display: inline-block
            padding: 10px 25px
            float: right
            a 
                color: #fff
                text-decoration: none
            &:hover
                border-radius: 2px
                background: darken($mautim,5)
        // Đây là phần slider
.home_slider
        background: $mautim
        min-height: 368px
        color: #fff
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        h1
                font-size: 34px
                letter-spacing: 0.1px
        .btn-more
                background: $camdat
                color: #fff
                padding: 12px 
                padding-left: 40px
                padding-right: 40px
                margin-top: 40px
                font-size: 14px
                
// Đây là phần services nè!!!!
.home_services
        background: $maungoc
        min-height: 550px
        color: #fff
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        h2
                font-size: .1.5rem
                letter-spacing: .0.2rem
// Đây là phần team nè!!!!
.home_team
        background: #e7f1f8
        min-height: 550px
        color: darken(grey,14)
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        h2
                font-size: .1.5rem
                letter-spacing: .0.2rem

        .col-md-3
                img 
                        width: 200px
                        height: 200px
                        border-radius: 100px
                        -moz-border-radius: 100px
                        -webkit-border-radius: 100px
                h5 
                        font-size: 17px
                        font-weight: bold
                h4 
                        font-size: 15px
                h6 
                        color: $maungoc
                        font-size: 12px
                i
                        padding: 12px
//Đây là phần skill nè!!!
.home_skills
        background: #fff
        min-height: 550px
        color: darken(grey,14)
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        h2
                font-size: .1.5rem
                letter-spacing: .0.2rem

        .col-md-3
                img 
                        width: 200px
                        height: 200px
                        border-radius: 100px
                        -moz-border-radius: 100px
                        -webkit-border-radius: 100px
                h5 
                        font-size: 17px
                        font-weight: bold
                h4 
                        font-size: 15px
                h6 
                        color: $maungoc
                        font-size: 12px
                i
                        padding: 12px
